* {
	padding: 0;
	margin: 0;
	font-family: "FreeSans", sans-serif;
	font-weight: bold;
	font-size: 15px;
}

window.bar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    color: white;
}

button {
    min-width: 12px;
    background: transparent;
    border-radius: 45%;
    border: 1px solid white;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

label {
    font-weight: bold;
}

.workspaces {
    margin-top: 0;
}

.workspaces button.focused {
    min-width: 45px;
    border-radius: 99px;
    background: transparent;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

.left_bar {
	margin: 12px 18px;
}

.right_bar {
	margin: 12px 18px;
}

progress,
highlight {
    min-height: 8px;
}
